/* SCSS HSL */
$rich-black-fogra-39: hsla(180, 4%, 5%, 1);
$onyx: hsla(216, 11%, 18%, 1);
$platinum: hsla(220, 7%, 92%, 1);
$yellow-pantone: hsla(52, 96%, 59%, 1);
$saffron: hsla(46, 80%, 50%, 1);
/* SCSS HSL */
$jonquil: hsla(47, 95%, 52%, 1);
$orange-red: hsla(19, 94%, 56%, 1);
$red-munsell: hsla(354, 81%, 56%, 1);
$rebecca-purple: hsla(271, 54%, 39%, 1);
$maximum-blue-green: hsla(187, 58%, 53%, 1);
/* SCSS HSL */
$xiketic: hsla(231, 82%, 6%, 1);
$dark-sienna: hsla(339, 80%, 12%, 1);
$rosewood: hsla(354, 93%, 22%, 1);
$dark-red: hsla(358, 97%, 31%, 1);
$rosso-corsa: hsla(0, 100%, 41%, 1);
$vermilion: hsla(12, 98%, 44%, 1);
$persimmon: hsla(23, 97%, 46%, 1);
$carrot-orange: hsla(34, 95%, 49%, 1);
$orange-web: hsla(39, 96%, 50%, 1);
$selective-yellow: hsla(43, 100%, 52%, 1);
/* SCSS HSL */
$deep-space-sparkle: hsla(193, 34%, 30%, 1);
$medium-champagne: hsla(51, 100%, 85%, 1);
$indian-yellow: hsla(36, 72%, 56%, 1);
$auburn: hsla(359, 58%, 39%, 1);
$rosewood: hsla(358, 77%, 19%, 1);
/* SCSS HSL */
$floral-white: hsla(46, 100%, 97%, 1);
$pale-silver: hsla(38, 16%, 76%, 1);
$black-olive: hsla(34, 6%, 24%, 1);
$eerie-black: hsla(40, 4%, 14%, 1);
$flame: hsla(17, 83%, 54%, 1);